<!DOCTYPE html>
<html>
<head>
  <title>UrbanDictionary Looker-Upper</title>
  <meta name="google-site-verification" content="eUssnrfqy5cnaxhgIc5dDNiuIA1kzisl_luOKVmVkLI" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
